body {
    background-color: #F2E9C0;
}

.critterButton {
    background: none;
    border: 3px solid #DAD1A1;
    padding: 0px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 125px);
    grid-auto-columns: 130px;
    grid-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

@font-face {
  font-family: 'Humming';
  src: local('Humming'), url(./fonts/Humming.otf) format('opentype');
}