.popup{
    font-family: Humming;
    background-color: #F2E9C0;
    position: absolute;
    width: minmax(100px, 12%);
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(95, 89, 55);
}
